<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type"image" href="../static/src/logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=OtherFont:wght@400;700&display=swap"  />
    
    <title>Cambiar Contraseña</title>
</head>
<body class="regclf">
    <section class="form-register">
        <h2>Cambiar Contraseña</h2>
        <form id="changePasswordForm">

            <input class="controls" type="email" id="email" placeholder="Email" required><br><br>
            <input class="controls" type="password" id="currentPassword" placeholder="Contraseña Actual" required><br><br>
            <input class="controls" type="password" id="newPassword" placeholder="Nueva Contraseña" required><br><br>
            <input class="controls" type="password" id="confirmPassword" placeholder="Confirmar Nueva Contraseña" required><br><br>

            <button input class="botons" type="button" onclick="changePassword()">Cambiar Contraseña</button>
        </form>

        <p id="message"></p>

        <script>
            function changePassword() {
                var currentPassword = document.getElementById('currentPassword').value;
                var newPassword = document.getElementById('newPassword').value;
                var confirmPassword = document.getElementById('confirmPassword').value;
                
                // Verificar que la contraseña tenga al menos 10 caracteres
                if (newPassword.length < 10) {
                    document.getElementById('message').innerText = "La contraseña debe tener al menos 10 caracteres.";
                    return;
                }

                // Verificar que la contraseña contenga al menos un carácter numérico, uno de letra y uno de símbolo
                var regex = /^(?=.*\d)(?=.*[a-zA-Z])(?=.*\W)/;
                if (!regex.test(newPassword)) {
                    document.getElementById('message').innerText = "La contraseña debe contener al menos un número, una letra y un símbolo.";
                    return;
                }

                if (newPassword !== confirmPassword) {
                    document.getElementById('message').innerText = "Las contraseñas no coinciden.";
                } else {
                    // Aquí debes agregar la lógica para cambiar la contraseña.
                    // Aquí simplemente mostraremos un mensaje de éxito.
                    document.getElementById('message').innerText = "Contraseña cambiada con éxito.";
                    
                }
            }
        </script>
    </section>
</body>
</html>

