{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type"image" href="{% static 'src/logo.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=OtherFont:wght@400;700&display=swap"  />
    
    <title>Cierre de Sesión</title>
</head>
<body class="salida">
    <div style="text-align: center; margin-top: 100px;">
        <h3>Cierre de Sesión Exitoso</h3>
        <pip>Has cerrado sesión de tu cuenta. ¡Hasta pronto!</pip>
    </div>
    
    <script>
        setTimeout(function() {
            window.location.href = '/'; // Cambia la URL a la página de inicio
        }, 2000); // 2000 milisegundos (2 segundos)
    </script>
</body>
</html>
