<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cierre de Sesión</title>
</head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h2>Cierre de Sesión Exitoso</h2>
        <p>Has cerrado sesión de tu cuenta. ¡Hasta pronto!</p>
    </div>
    
    <script>
        setTimeout(function() {
            window.location.href = '/'; // Cambia la URL a la página de inicio
        }, 2000); // 2000 milisegundos (2 segundos)
    </script>
</body>
</html>
