
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <link rel="icon" type"image" href="../static/src/logo.jpg">
 <title>Registro de Donacion</title>
</head>

<body class="regclf">
  <section class="form-register">
    <h4>Registro de Doncacion</h4>
    <input class="controls" type="text" name="Nombres" id="Donante" placeholder="Nombre del donante">
    <input class="controls" type="date" name="fecha_donacion" id="fecha_donacion" placeholder="Fecha de la donación">
    <input class="controls" type="text" name="descripcion" id="descripcion" placeholder="Descripción de la donación">
    <input class="controls" type="number" name="cantidad" id="cantidad" placeholder="Cantidad de ropa donada">
    <input class="controls" type="text" name="tipo_ropa" id="tipo_ropa" placeholder="Tipo de ropa donada">
    <input class="controls" type="number" min="2" max="42" step="2" name="talla" id="talla" placeholder="Talla de la ropa">
    <input class="controls" type="text" name="estado" id="estado" placeholder="Estado de la ropa">
    <input class="controls" type="number" min="1"name="puntuacion" id="puntuacion" placeholder="Puntuacion">
    <p>Estoy de acuerdo con <a href="#"> Terminos y condiciones</p>
    <input class="botons" type="submit" value="Registrar Donacion">

  
  </section>
</body>
</html>

